// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:12px;
  color:#666666;
  margin:0;
  padding:0;
  margin-left: auto;
  margin-right: auto;
  width: 520px;
  padding-top: 60px;
}  

 
h1{
  font-size: 1.6em;
} 


#uploader{
  width: 500px;
  border: 1px solid #aaa;
  min-height: 300px;
  padding: 10px;
  border-radius: 7px;
}