%h1 jQuery S3 File Uploader Demo
#uploader
  %iframe{ src: "http://do2-media.s3.amazonaws.com/uploader/uploader.html?#{SecureRandom.hex(10)}",
           frameborder: 0,
           height: 300,
           width: 500 }